<div class="pensamento {{ thought.model }} ff-roboto-mono" [ngClass]="widthThought()">
  <img src="/assets/images/{{ thought.model }}.png" alt="Colorful quote" />

  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria">
    <b>{{ thought.authorship }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/thought/editThought/{{thought.id}}">
      <img src="/assets/images/icone-editar.png" alt="Edit Icon" />
    </button>
    <button class="botao-excluir" routerLink="/thought/removeThought/{{thought.id}}">
      <img src="/assets/images/icone-excluir.png" alt="Remove Icon" />
    </button>
  </div>
</div>
