<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Add a <br />
      New Thought:
    </h2>
    <form>
      <label for="thought">Thought</label>
      <input
        type="textarea"
        class="input"
        id="thought"
        name="thought"
        placeholder="Type your thought"
        [(ngModel)]="thought.content"
      /><!--[] it's a property binding, to get something from the component.ts, one way-->
      <!--[(ngModel)] it's a property binding, to get and set something from the component.ts , two way-->

      <label for="author">Author</label>
      <input
        type="textarea"
        class="input"
        id="author"
        name="author"
        placeholder="Type the author or font"
        [(ngModel)]="thought.authorship"
      />

      <label for="modelo">Select the model card:</label>
      <div class="container-radio">
        <div class="radio-modelo">
          <label for="model1">
            <input type="radio" id="model1" value="model1" name="modelo-card" [(ngModel)]="thought.model"/>
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Model 1</span>
          </label>

          Preview:
          <div class="modelo model1 ff-roboto-mono">
            <img
              src="../../../../assets/images/modelo1.png"
              alt="clear blue quote"
            />
            <!--{{ }} it's a property binding, to get something from component but showing inside a tag-->
            <p class="conteudo">{{ thought.content }}</p>
            <p class="autoria"><b>{{ thought.authorship }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="model2">
            <input type="radio" id="model2" value="model2" name="modelo-card"  [(ngModel)]="thought.model"/>
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Model 2</span>
          </label>

          Preview:
          <div class="modelo model2 ff-roboto-mono">
            <img src="../../../../assets/images/modelo2.png" alt="blue quote" />
            <p class="conteudo">{{ thought.content }}</p>
            <p class="autoria"><b>{{ thought.authorship }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="model3">
            <input type="radio" id="model3" value="model3" name="modelo-card"  [(ngModel)]="thought.model"/>
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Model 3</span>
          </label>

          Preview:
          <div class="modelo model3 ff-roboto-mono">
            <img
              src="../../../../assets/images/modelo3.png"
              alt="green quote"
            />
            <p class="conteudo">{{ thought.content }}</p>
            <p class="autoria"><b>{{ thought.authorship }}</b></p>
          </div>
        </div>
      </div>

      <div class="acoes">
        <button (click)="createThought()"  class="botao">Salvar</button>
        <button (click)="cancelThought()" class="botao">Cancelar</button>
      </div>

    </form>
  </header>
</section>
